.fight{background:skyblue;height:75;width:300;position:absolute;display:none;}
.i1{position:absolute;top:25;left:0;width:50;}
.i2{position:absolute;top:25;left:0;display:none;width:50;}
.i3{position:absolute;top:75;left:0;width:300;height:10;background:green;}
.i4{position:absolute;top:25;left:10;width:50;}
.notice{width:150;height:50;border: solid 1px black;background:#ffffff;
position:absolute;top:75;left:50;display:none;}
.shop{position:absolute;display:none;}
.btn{height:26;width:73;background:url(../texture/b2.png);}
